.ellipsis {
    text-overflow: ellipsis;

    white-space: nowrap;

    overflow: hidden;
}

.ellipsisLineTwo {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "020";
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
    clear: both;
}

.w100 {
    width: 100% !important;
}

.mgT24 {
    margin-top: 24px;
}

.mgB24 {
    margin-bottom: 24px;
}
